scipy
termcolor
addict
yapf==0.40.1
timm
numpy
opencv-python
pycocotools
colorlog
setuptools
ushlex
filetype
tqdm
--extra-index-url https://download.pytorch.org/whl/cu121
torch<2.6
torchvision
transformers